<!DOCTYPE HTML>
<html>
<head>
    <title>Groups</title>
</head>
<body>
    <div id='groups_header'>
        <h1>Groups</h1>
    </div>
    <div id='groups'>
        {{#each this}}
        <div class='group' id='{{id}}'>
            <h1>{{displayName}}</h1>

            <ul>
            {{#each members}}
                <li>
                    <div id='{{id}}'>
                        <p>{{displayName}}</p>
                        <!-- Button to remove user? -->
                    </div>
                </li>
            {{/each}}
            </ul>

            <div>
                Add user:<input type='text' name='add-user-{{id}}'>
                <button type='button'>Add</button>
            </div>
        </div>
        {{/each}}
    </div>
</body>
</html>
