<!DOCTYPE HTML>
<html>
<head>
    <title>Users</title>
    {{#each scripts}}
        <script type="text/javascript" src="{{this.src}}" {{this.attribute}}></script>
    {{/each}}
</head>
<body>
    <div id="users_header">
        <h1>Users</h1>
    </div>
    <div id="users">
        {{#each users}}
        <div class="user">
            <a href="/user/{{this.id}}">{{this.displayName}}</a>
            <div class="direct-member-of">
                <h3>Direct Membership</h3>
                <div class="member-of">
                    {{#each directMemberOf}}
                        <ul>{{this.displayName}}</ul>
                    {{/each}}
                </div>
            </div>
            <div class="transitive-member-of">
                <h3>Transitive Membership</h3>
                <div class="member-of">
                    {{#each transitiveMemberOf}}
                        <ul>{{this.displayName}}</ul>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>
</html>
