extends ../shared/page-layout.pug

block vars
    - var title = 'Groups'
    - var sectionId = 'groups'
    -
        var toggleSelector = function() {
            document.getElementById('sync_id').style.display =
                document.getElementById('add_sync_group').checked ? 'inline-block' : 'none';

            return false;
        }
    -
        var convertFunc = function(func) {
            return `(${func.toString()})()`;
        }

block content-container
    div(id='add-group-form', style='padding-left: 10px;')
        form(action='/groups', method='post')
            input(type='text', name='add_group_name', placeholder='Add Group')
            input(type='checkbox', name='add_sync_group', id='add_sync_group', onclick=convertFunc(toggleSelector))
            label(for='add_sync_group') ODK Sync group?
            select(name='sync_id', id='sync_id', style='display: none;')
                each instance in syncInstances
                    option(value=instance.id)= `${instance.name} (${instance.id})`
            button(type='submit', class=['btn', 'btn-primary', 'btn-xs'], style='margin: 10px;')
                span(class=['glyphicon', 'glyphicon-plus'], aria-hidden=true)

    div(id=sectionId)
        each group in value
            div(class='group', id=group.id)
                p(class='h4')= group.displayName
                    if group.syncId
                        |
                        |
                        |
                        a(href=`/sync/detail/${group.syncId}`) (Sync)
                    span(style='display:inline-block; width:10px;')
                    a(href=`/groups/${group.id}`): span(class=['glyphicon', 'glyphicon-pencil'], aria-hidden=true)

                ul(class='list-group')
                    each member in group.members
                        li(class='list-group-item')
                            div(id=member.id): p= member.displayName