extends ../shared/page-layout.pug

block vars
    - var title = displayName
    - var sectionId = 'groups'

block content-container
    table(class='table')
        tr
            th Display Name
            th Principal Name
            th Remove

        each member in members
            tr
                td= member.displayName
                td= member.userPrincipalName
                td: a(href=`/groups/${id}/removeUser/${member.id}`) ✖

    div
        form(action=`/groups/${id}/addUser`, method='post')
            select(name='user_id', style='margin: 10px;')
                each user in users
                    option(value=user.id)= user.displayName
            select(name='group_id', style='margin: 10px;')
                each group in groups
                    option(value=group.id)= group.displayName
            input(type='submit', value='Add Member', style='margin:10px;')