<!DOCTYPE HTML>
<html>
<head>
    <title>Groups</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class='navbar navbar-default' id='links'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <p class='navbar-brand'>Mezuri</p>
            </div>
            <ul class='nav navbar-nav'>
                <li><a href='/groups' class='nav'>Groups</a></li>
                <li><a href='/users' class='nav'>Users</a></li>
            </ul>
        </div>
    </nav>

    <h3 style='padding:10px'>{{displayName}}</h3>
    <table class='table'>
        <tr>
            <th>Display Name</th>
            <th>Principal Name</th>
            <th>Remove</th>
        </tr>
        {{#each members}}
            <tr>
                <td>{{displayName}}</td>
                <td>{{userPrincipalName}}</td>
                <td>
                    <a href='/groups/{{@root.id}}/removeUser/{{id}}'>&#10006;</a>
                </td>
            </tr>
        {{/each}}
    </table>

    <div>
        <form action='/groups/{{this.id}}/addUser' method='post'>
            <select name='user_id' style='margin:10px'>
                {{#each allUsers}}
                    <option value='{{id}}'>{{displayName}}</option>
                {{/each}}
            </select>
            <input type='submit' value='Add User' style='margin:10px'>
        </form>
    </div>
</body>
</html>
