<!DOCTYPE HTML>
<html>
<head>
    <title>Users</title>
    {{#each scripts}}
        <script type="text/javascript" src="{{this.src}}" {{this.attribute}}></script>
    {{/each}}
</head>
<body>
    <div id="users_header">
        <h1>Users</h1>
    </div>
    <div id="user-actions">
        <a href="/users/delete">Delete</a>
    </div>
    <div id="users">
        {{#each users}}
            <div class="user">
                <a href="/users/profile/{{this.id}}">{{this.displayName}}</a>
                <div class="member-of-lists">
                    <div class="direct-member-of-list">
                        <h6>Direct Memberships</h6>
                        <div class="member-of">
                            {{#each this.directMemberOf}}
                                <ul>{{this.displayName}}</ul>
                            {{/each}}
                        </div>
                    </div>
                    <div class="transitive-member-of-list">
                        <h6>Transitive Memberships</h6>
                        <div class="member-of">
                            {{#each this.transitiveMemberOf}}
                                <ul>{{this.displayName}}</ul>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</body>
</html>
