<!DOCTYPE HTML>
<html>
<head>
    <title>{{displayName}} | User Profile</title>
    {{#each scripts}}
        <script type="text/javascript" src="{{this.src}}" {{this.attribute}}></script>
    {{/each}}
</head>
<body>
<div id="user-profile-header">
    <h1>{{displayName}}'s Profile</h1>
</div>
<div id="user-profile-actions">
    <a href="/users/edit/{{id}}">Edit</a>
    <a href="/users/delete/{{id}}">Delete</a>
</div>
<div id="user-profile">
    {{#each profileMap}}
        <div class="profile-item">
            <label>{{this.itemLabel}}:</label>
            {{#if @root.edit}}
                <input name="{{this.itemLabel}}" value="{{lookup @root this.itemKey}}">
            {{else}}
                <span>{{lookup @root this.itemKey}}</span>
            {{/if}}
        </div>
    {{/each}}

    {{#if @root.edit}}
        <input type="submit" value="Modify">
    {{/if}}
</div>
</body>
</html>