<!DOCTYPE HTML>
<html>
<head>
    <title>{{profile.displayName.value}} | User Profile</title>
    {{#each scripts}}
        <script type="text/javascript" src="{{this.src}}" {{this.attribute}}></script>
    {{/each}}
</head>
<body>
<div id="user-profile-header">
    <h1>{{profile.displayName.value}}'s Profile</h1>
</div>
<div id="user-profile-actions">
    <a href="/users">User List</a>
    <a href="/users/edit/{{profile.id.value}}">Edit</a>
    <a href="/users/delete?id={{profile.id.value}}">Delete</a>
</div>
<div id="user-profile">
    <form method="post">
        {{#each profile as |data key|}}
            <div class="profile-item">
                <label for="{{key}}">{{data.label}}:</label>
                {{#if @root.edit}}
                    <input {{data.disabled}} name="{{key}}" id="{{key}}" value="{{data.value}}">
                {{else}}
                    <span>{{data.value}}</span>
                {{/if}}
            </div>
        {{/each}}

        {{#if @root.edit}}
            <input type="submit" value="Modify">
        {{/if}}
    </form>
</div>
</body>
</html>