extends ../shared/page-layout.pug

block vars
    - var title = `${profile.displayName.value}'s Profile`
    - var sectionId = 'user-profile'

block content-container
    div(id=`${sectionId}-actions`)
        a(href='/users', style='padding:5px') Back to user list
        if edit
            a(href=`/users/profile/${profile.id.value}`, style='padding:5px') Profile
        else
            a(href=`/users/edit/${profile.id.value}`, style='padding:5px') Edit
        a(href=`/users/delete?id=${profile.id.value}`, style='padding:5px') Delete

    div(id=sectionId)
        form(method='post')
            table(class='table')
                each value, key in profile
                    tr(class='profile-item')
                        td= value.label
                        if edit
                            td: input(disabled=value.disabled, name=key, id=key, value=value.value, style='width: 100%;')
                        else
                            td= value.value

            if edit
                input(type='submit', value='Modify')