<!DOCTYPE HTML>
<html>
<head>
    <title>{{profile.displayName.value}} | User Profile</title>
    {{#each scripts}}
        <script type="text/javascript" src="{{this.src}}" {{this.attribute}}></script>
    {{/each}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class='navbar navbar-default' id='links'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <p class='navbar-brand'>Mezuri</p>
            </div>
            <ul class='nav navbar-nav'>
                <li><a href='/groups' class='nav'>Groups</a></li>
                <li><a href='/users' class='nav'>Users</a></li>
            </ul>
        </div>
    </nav>

    <div id="user-profile-header">
        <h1>{{profile.displayName.value}}'s Profile</h1>
    </div>
    
    <div id="user-profile-actions">
        <a href="/users" style='padding:5px'>Back to user list</a>
        <a href="/users/edit/{{profile.id.value}}" style='padding:5px'>Edit</a>
        <a href="/users/delete?id={{profile.id.value}}" style='padding:5px'>Delete</a>
    </div>

    <div id="user-profile">
        <form method="post">
            <table class="table">
                {{#each profile as |data key|}}
                    <tr class="profile-item">
                        <td>{{data.label}}:</td>
                        {{#if @root.edit}}
                            <td><input {{data.disabled}} name="{{key}}" id="{{key}}" value="{{data.value}}"></td>
                        {{else}}
                            <td>{{data.value}}</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </table>

            {{#if @root.edit}}
                <input type="submit" value="Modify">
            {{/if}}
        </form>
    </div>
</body>
</html>
