<!DOCTYPE HTML>
<html>
<head>
    <title>Users</title>
    {{#each scripts}}
        <script type="text/javascript" src="{{this.src}}" {{this.attribute}}></script>
    {{/each}}
</head>
<body>
    <div id="users_header">
        <h1>Users</h1>
    </div>
    <div id="users">
        {{#each users}}
            <div class="user">
                <a href="/user/{{this.id}}">{{this.displayName}}</a>
                <!--<div class="member-of">-->
                    {{#each this.memberOf}}
                        <ul>{{this.displayName}}</ul>
                    {{/each}}
                <!--</div>-->
                <!--<div class="member-of-lists">-->
                    <!--{{#each this.lists}}-->
                        <!--<div class="{{this.class}}">-->
                            <!--<h3>{{this.title}}</h3>-->
                            <!--<div class="member-of">-->
                                <!--{{#each this.memberOf}}-->
                                    <!--<ul>{{this.displayName}}</ul>-->
                                <!--{{/each}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--{{/each}}-->
                <!--</div>-->
            </div>
        {{/each}}
    </div>
</body>
</html>
